@model system_core_with_authentication.Models.Location

@{
    ViewData["Title"] = "Detalles de la Ubicacion";
}

<div class="row">

</div>

<div class="row">
    <div class="col-xs-3 pull-left">
        <div class="form-actions no-color">
            <a asp-action="Index" class="btn btn-info btn-xs">Regresar a &Iacute;ndice</a>
        </div>
    </div>
        <div class="col-xs-4 small">
            <div class="card card-table">
                <div class="card-body">

                
                        <h4>Detalles de @Model.Name</h4>
                        <hr />
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                               Direcci&oacute;n
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt>
                                N&uacute;mero Telef&oacute;nico
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </dd>
                        </dl>
                    <div>
                        <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                    </div>

                    </div>
                    
                </div>
            </div>
       
</div>

    

    
