@model IEnumerable<system_core_with_authentication.Models.Location>

@{
    ViewData["Title"] = "Indice de Ubicaciones";
}

<div class="container" style="width: 10px">

    <a asp-action="Create" asp-controller="Locations" class="btn btn-success btn-xs pull-right"> A&ntilde;adir Ubicaci&oacute;n </a>

</div>

<br />


<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12">
        <div class="card card-banner card-table">

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                <a  class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                <a class="btn btn-info btn-xs" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                                <a  class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            </div>
        </div>
    </div>


            
