@model system_core_with_authentication.Models.RepositionStockDetailed

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepositionStockDetailed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdRepositionStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRepositionStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdMedicament)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdMedicament)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequestStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
