@model IEnumerable<system_core_with_authentication.Models.Medicament>

@{
    ViewData["Title"] = "Medicament Request - Reposition";
}

<div class="row">
    <div class="col-lg-12 small">
        <div class="card card-table">
            <div class="container">


                <form asp-controller="Requests" asp-action="CreateReposition" method="get">
                    <p>
                        <h4> Medicament: </h4>  <input class="form-control" style="width:1050px;" type="text" name="SearchString">
                        <input type="submit" value="Filtrar" class="btn btn-default" />
                    </p>
                </form>
                <input type="hidden" value="@User.Identity.Name" id="username">
                <table class="table" style="width:1050px;">
                    <thead>
                        <tr>
                            <th>
                                Description
                            </th>
                            <th>
                                Content
                            </th>
                            <th>
                                Type
                            </th>

                            <th>
                               Inventory Quantity
                            </th>
                            <th>
                                Requested Quantity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    <input class="form-control" type="text" id="actualQuantity-@item.Id" />
                                </td>
                                <td>
                                    <input class="form-control" type="text" id="requestQuantity-@item.Id" />
                                </td>
                                <td>
                                    <a class="btn btn-default" onclick="AddToRepositionList(@item.Id)">Agregar</a>
                                    <input type="hidden" value="@item.Description" id="description-@item.Id">
                                    <input type="hidden" value="@item.Content" id="content-@item.Id">
                                    <input type="hidden" value="@item.Type" id="type-@item.Id">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 small">
        <div class="card card-table">
            <div class="container">
                <div id="lista"></div>
                </div>
            </div>
        </div>
    </div>

                
                <br /><br /><br />
                <a class="btn btn-info" asp-controller="Requests" asp-action="Index">Back</a>
                <script src="~/js/Reposition.js"></script>
