@model IEnumerable<system_core_with_authentication.Models.Medicament>

@{
    ViewData["Title"] = "Medicament Request - Reposition";
    ViewBag.Menu = "Requests";
}
<div class="row">
    <div class="col-xs-12">
        <div class="card card-mini">
            <div class="card-header">
                <div class="card-title">
                    <form asp-controller="Requests" asp-action="CreateReposition" method="get">

                        Buscar Medicamento:
                        <input class="form-control" style="width:1050px;" type="text" name="SearchString">
                        <input type="submit" value="Filtrar" class="btn btn-default btn-xs" />

                    </form>
                    <a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="CreateReposition">Mostrar todos</a>
                </div>
            </div>
            <input type="hidden" value="@User.Identity.Name" id="username">
        </div>
        </div>  
    </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-mini">
                        <div class="card card-body no-padding">
                            <table class="table card-table" style="width:1050px;">
                                <thead>
                                    <tr>
                                        <th>
                                            Descripcion
                                        </th>
                                        <th>
                                            Contenido
                                        </th>
                                        <th>
                                            tipo
                                        </th>

                                        <th>
                                            Cantidad Actual
                                        </th>
                                        <th>
                                            Cantidad Solicitada
                                        </th>
                                        <th>Agregar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Content)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="actualQuantity-@item.Id" />
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" id="requestQuantity-@item.Id" />
                                            </td>
                                            <td>
                                                <a class="btn btn-default" onclick="AddToRepositionList(@item.Id)">Agregar</a>
                                                <input type="hidden" value="@item.Description" id="description-@item.Id">
                                                <input type="hidden" value="@item.Content" id="content-@item.Id">
                                                <input type="hidden" value="@item.Type" id="type-@item.Id">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </div>

                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-mini">
                        <div class="card card-header"> 
                            Notas:
                        </div>
                        <div class="card card-body no-padding">
                            <textarea class="form-control" rows="5" id="notes"></textarea>
                            <div id="lista"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a class="btn btn-danger" asp-controller="Requests" asp-action="Index">Back</a>
            </div>
            <script src="~/js/Reposition.js"></script>
