@model system_core_with_authentication.Models.ViewModels.RepositionStockDetailedWithCostViewModel

@{
    ViewData["Title"] = "ViewRepositionDetails";
    ViewBag.Menu = "Requests";
}

<div class="row">
    <div class="col-xs-12">
        <div class="card card-mini">
            <div class="card-header">
                <div class="card-title">
                    Usuario: @Html.DisplayFor(model => Model.RsList.Request.User)
                </div>
            </div>
            <div class="card card-body no-padding">
                <table class="table card-table">
                    <thead>
                        <tr>
                            <th>
                                Medicamento
                            </th>
                            <th>
                                Cantidad Actual
                            </th>
                            <th>
                                Cantidad Solicitada
                            </th>
                            <th>
                                Precio
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var a in Model.RsList.RepositionStockDetailed)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => a.Medicament.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.CurrentStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.RequestStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.Medicament.Price)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="col-md-offset-4 col-md-10">El costo de esta lista es de $@Model.cost</div>
                </div>
            </div>
    </div>
</div>


<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <a asp-action="ShowAllRequests" class="btn btn-info btn-xs">Back to List</a>
</div>

