@model system_core_with_authentication.Models.ApplicationUser
@{
    ViewData["Title"] = "Borrar";
}
<div class="row">
    <div class="col-xs-4 small">
        <div class="card card-table">
            <div class="card-body">

                <h4> Datos del Usuario</h4>

                    <dl>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SecondLastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SecondLastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Telephone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Telephone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                            
                        </dd>
                        <dt>
                            <br />
                            Imagen Actual:
                        </dt>
                        <dd>
                        @if ((Model.UserImage == null) || (Model.UserImage == ""))
                        {
                            <br />
                            <img src="~/users/uploads/nophoto.png"
                                 style="max-height:60px; max-width:60px; padding-left:30px;" title="Este usuario no cuenta con fotografia.">
                        }
                        else
                        {
                            <br />
                            <img src="~/users/uploads/@Model.UserImage" style="max-height:300px; max-width:300px; padding-left:50px;" />
                        }

                        </dd>
                    </dl>

               
                    <div class="form-actions no-color">

                        <br /> <br />
                        
                            <a class="btn btn-info btn-xs" asp-action="Index">Regresar a &Iacute;ndice</a>
                        
                            <a data-toggle="modal" data-target="#myModal2" class="btn btn-danger btn-xs pull-right">Borrar</a>

                    </div>
          

                <br/>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">

            <h1> &iquest;Est&aacute; seguro de querer borrar este usuario?</h1>
            <h3> Esta acci&oacute;n es permanente e irreversible.</h3>
           

        </div>
        <div class="modal-footer">

            <form asp-action="Delete"> 
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Borrar" class="pull-right btn btn-danger"/>
            </form>
            
        </div>
    </div>
</div>
    </div>

                    
              
