@model system_core_with_authentication.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-xs-4 small">
        <div class="card card-table">
            <div class="container">

                <h4> Details for @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName) </h4>

                <dl>
                    <dt>
                       Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        Paternal Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        Maternal Name
                    </dt>
                    <dd>
                       @Html.DisplayFor(model => model.SecondLastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>
               
               
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

                        <a asp-action="Index" class="btn btn-info btn-xs">Back to Index</a>

                    </div>

                

                </div>

            <br />

        </div>
    </div>
</div>




        
 

