@model system_core_with_authentication.Models.ApplicationUser

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-xs-4 small">
        <div class="card card-table">
            <div class="card-body">

                <h4> Details for @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.LastName) </h4>

                <dl>
                    <dt>
                       Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        Paternal Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        Maternal Name
                    </dt>
                    <dd>
                       @Html.DisplayFor(model => model.SecondLastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>
               
               
                    <div class="form-actions no-color">

                        <a asp-action="Index" class="btn btn-info btn-xs">Back to Index</a>

                        <a asp-action="Edit"  asp-controller="Users" class="btn btn-default btn-xs pull-right" asp-route-id="@UserManager.GetUserId(User)"> Full Edit </a>

                    </div>

                

                </div>

            <br />

        </div>
    </div>
</div>




        
 

