@model system_core_with_authentication.Models.ViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Editar Usuario";
    ViewBag.Menu = "User";
}

    <div class="container col-sm-6 col-md-6 col-lg-6 pull-right" style="width:1000px;">
        <div class="card card-banner card-header">
            <div class="col-sm-10 card" >

                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <h4>Edici&oacute;n completa para @Html.DisplayFor(model => model.appUser.Name) @Html.DisplayFor(model => model.appUser.LastName) @Html.DisplayFor(model => model.appUser.SecondLastName) </h4>
                        <hr />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
                        <div class="form-group">
                            <label for="Name" class="col-md-2 control-label"> Nombre </label>
                            <div class="col-md-5">
                                <input name="Name" for="Name" class="form-control" value="@Model.appUser.Name"/>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LastName" class="col-md-2 control-label"> Apellido Paterno </label>
                            <div class="col-md-5">
                                <input name="LastName" for="LastName" class="form-control" value="@Model.appUser.LastName"/>
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SecondLastName" class="col-md-2 control-label"> Apellido Materno </label>
                            <div class="col-md-5">
                                <input name="SecondLastName" for="SecondLastName" class="form-control" value="@Model.appUser.SecondLastName" />
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Telephone" class="col-md-2 control-label"> Tel&eacute;fono </label>
                            <div class="col-md-5">
                                <input name="Telephone" for="Telephone" class="form-control" value="@Model.appUser.Telephone" />
                             
                            </div>
                        </div>
                        <input type="hidden" for="Id" />
                        <div class="form-group">
                            <label for="UserName" class="col-md-2 control-label"> Usuario </label>
                            <div class="col-md-5">
                                <input name="UserName" for="UserName" class="form-control" value="@Model.appUser.UserName" />
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-md-2 control-label"> Email </label>
                            <div class="col-md-5">
                                <input name="Email" for="Email" class="form-control" value="@Model.appUser.Email"/>
                        
                            </div>
                        </div>

                        <br />

                        <div class="form-group">
                            <label class="col-md-2 control-label">Selecciona rol: </label>
                            <div class="col-md-5">
                                
                                <select name="role">

                                    @foreach (var role in Model.Roles)
                                    {
                                        if (role.Equals(Model.role))
                                        {
                                            <option selected> @role </option>

                                        }
                                        else
                                        {
                                            <option> @role </option>

                                        }

                                    }
                                </select>

                            </div>
                        </div>

                        <br />
                        <br />

                        @if ((Model.appUser.UserImage == null) || (Model.appUser.UserImage == ""))
                        {
                            <div class="form-group">
                                <label class="col-md-2 control-label">Imagen actual:</label>
                                <div class="col-md-10">
                                    <img src="~/users/uploads/nophoto.png"
                                         style="max-height:60px; max-width:60px; padding-left:30px;" title="Este usuario no cuenta con fotografia.">
                                </div>
                            </div>
                        }
                        else
                        {
                        <div class="form-group">
                            <label class="col-md-2 control-label">Imagen actual:</label>
                            <div class="col-md-10">
                                <img src="~/users/uploads/@Model.appUser.UserImage" style="max-height:300px; max-width:300px; padding-left:50px;"/>
                            </div>
                        </div> 
                        }

                        <br />  <br /> 

                        <div class="form-group">
                            <label class="col-md-2 control-label">Subir imagen:</label>
                            <div class="col-md-10">
                                <input type="file" name="ImageFile" />

                            </div>
                        </div>

                        <br />  <br /> 

                        <div class="form-group">
                            <div class="col-md-5">
                                <input type="submit" value="Guardar" class="btn btn-success pull-right btn-xs" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

                <div class="form-actions no-color" style="max-width:300px;">
                    <a asp-action="Index" class="btn btn-info btn-xs pull-right">Regresar a &Iacute;ndice</a>
                    </div>

 
       
  



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
