@model system_core_with_authentication.Models.ApplicationUser

@{
    ViewData["Title"] = "Tu Perfil";
}

<div class="row">
    <div class="col-xs-4 small">
        <div class="card card-table">
            <div class="container">

                <h4> Tu Informaci&oacute;n </h4>

                <dl>
                    <dt>
                        Nombre
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        Apellido Paterno
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        Apellido Materno
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SecondLastName)
                    </dd>
                    <dt>
                        Tel&eacute;fono
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>
                    <dt>
                        Nombre de Usuario
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt>
                        Correo Electr&oacute;nico
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>


                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">

                    <a style="margin-left:50px;" asp-action="Index" asp-controller="Home" class="btn btn-info">Regresar a Inicio</a>

                </div>



            </div>

            <br />

        </div>
    </div>
</div>
