@model system_core_with_authentication.Models.Medicament

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-xs-4 small">
        <div class="card card-table">
            <div class="card-body">

                <h4>Delete Medicament</h4>

                <br />

                <dl>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Content)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Priority)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Counter)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Counter)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MinimumStock)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MinimumStock)
                    </dd>
                    <dt>
                        Image
                    </dt>
                </dl>
                

                <div>
                    <img src="~/images/uploads/@Html.DisplayFor(model => model.MedicamentImage)"
                         style="max-height:130px; max-width:140px; margin-left:80px;" />
                </div>

                <br /> <br />

                <div class="form-actions no-color">

                    <a class="btn btn-info btn-xs" asp-action="Index">Back to List</a>

                    <a data-toggle="modal" data-target="#myModal2" class="btn btn-danger btn-xs pull-right">Delete</a>

                </div>

                </div>
           </div>
        </div>
    </div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <h1> Are you sure you want to delete this medicament?</h1>
                <h3> This action is irreversible and cannot be undone.</h3>


            </div>
            <div class="modal-footer">

                <form asp-action="Delete">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" class="pull-right btn btn-danger" />
                </form>

            </div>
        </div>
    </div>
</div>