@model IEnumerable<system_core_with_authentication.Models.Medicament>

@{
    ViewData["Title"] = "Indice de Medicamentos";
    ViewBag.Menu = "Medicaments";
}

<div class="container">
    <a style="margin-left:40px;" asp-action="Create" class="btn btn-success btn-xs"> Crear Medicamento </a>


    <a style="margin-left:40px;" asp-area="" asp-controller="Stocks" asp-action="Index" class="btn btn-info btn-xs">Ir a Stocks</a>
</div>


<br />



<div class="row">
    <div class="col-xs-12">
        <div class="card card-banner card-table">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Descripci&oacute;n
                        </th>
                        <th>
                            Contenido
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Prioridad
                        </th>

                        <th>
                            Imagen
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td>
                                @if ((@item.MedicamentImage == null) || (@item.MedicamentImage == ""))
                                {
                                    <img src="~/users/uploads/nophoto.png"
                                         style="max-height:60px; max-width:60px; padding-left:30px;" title="Este medicamento no cuenta con fotografia.">
                                }
                                else
                                {
                                    <img src="~/images/uploads/@item.MedicamentImage"
                                         style="max-height:150px; max-width:150px;" />
                                }


                                
                            </td>
                            <td>
                                <a asp-action="Edit" style="width:70px;" class="btn btn-default btn-xs" asp-route-id="@item.Id">Editar</a> 

                                <br />

                                <a asp-action="Details" style="width:70px;" class="btn btn-info btn-xs" asp-route-id="@item.Id">Detalles</a> 
                                
                                <br />
                                <a asp-action="Delete" style="width:70px;" class="btn btn-danger btn-xs" asp-route-id="@item.Id">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            </div>
        </div>
    </div>

            
               
            
            
