@model system_core_with_authentication.Models.ViewModels.MedicamentLowHighViewModel
<!--Partial View to show Most Requested Medicament and Medicaments with less stock-->

<div class="row">
    <div class="col-xs-12">
        <div class="card card-table">
            <div class="container">

                <h2>Medicamentos más pedidos</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Descripcion
                            </th>
                            <th>
                                Contenido
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Prioridad
                            </th>
                            <th>
                                # Pedidos
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MedicamentHigh)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Priority)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Counter)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12">
        <div class="card card-table">
            <div class="container">
                <h2>Medicamentos con menos Stock</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Descripcion
                            </th>
                            <th>
                                Contenido
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Prioridad
                            </th>
                            <th>
                                Stock minimo
                            </th>
                            <th>
                                Stock total actual
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MedicamentLow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.medicament.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.medicament.Content)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.medicament.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.medicament.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.medicament.Priority)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.medicament.MinimumStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sumTotal)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

