@model system_core_with_authentication.Models.ViewModels.MedicamentLowHighViewModel

<h2>Medicamentos más pedidos</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Descripcion
            </th>
            <th>
                Contenido
            </th>
            <th>
                Tipo
            </th>
            <th>
                Precio
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MedicamentLow)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Medicamentos con menos Stock</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Descripcion
            </th>
            <th>
                Contenido
            </th>
            <th>
                Tipo
            </th>
            <th>
                Precio
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MedicamentHigh)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
            </tr>
        }
    </tbody>
</table>