@model system_core_with_authentication.Models.ViewModels.MedicamentLowHighViewModel
@if (User.IsInRole("Admin"))
{
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-green-light">
            <div class="card-body">
                <i class="icon fa fa-shopping-basket fa-4x"></i>
                <div class="content">
                    <div class="title">Presupuesto</div>
                    <div class="value"><span class="sign">$</span>@Model.sumBudget</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-blue-light" asp-controller="Requests" asp-action="ShowAllRequests">
            <div class="card-body">
                <i class="icon fa fa-list fa-4x"></i>
                <div class="content">
                    <div class="title">Solicitudes</div>
                    <div class="value"><span class="sign"></span>@Model.Requests.Count</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-yellow-light" asp-controller="Users" asp-action="Index">
            <div class="card-body">
                <i class="icon fa fa-user fa-4x"></i>
                <div class="content">
                    <div class="title">Usuarios</div>
                    <div class="value"><span class="sign"></span>@Model.Users.Count</div>
                </div>
            </div>
        </a>
    </div>
</div>
}

@if (User.IsInRole("Supervisor"))
{
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a class="card card-banner card-green-light">
                    <div class="card-body">
                        <i class="icon fa fa-shopping-basket fa-4x"></i>
                        <div class="content">
                            <div class="title">Presupuesto</div>
                            <div class="value"><span class="sign">$</span>@Model.sumBudget</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a class="card card-banner card-blue-light" asp-controller="Requests" asp-action="Index">
                    <div class="card-body">
                        <i class="icon fa fa-list fa-4x"></i>
                        <div class="content">
                            <div class="title">Solicitudes</div>
                            <div class="value"><span class="sign"></span>@Model.Requests.Count</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

}
