@model IEnumerable<system_core_with_authentication.Models.Stock>
@{
    ViewData["Title"] = "Index";
}

<h2>Salida de Medicamento</h2>

<form asp-controller="MedicamentOut" asp-action="Index" method="get">
    <p>
        Medicamento: <input class="form-control" type="text" name="SearchString">
        <input type="submit" value="Filtrar" class="btn btn-default"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiration)
            </th>
            <th>
                Medicamento
            </th>
            <th>
                Salida
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expiration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicament.Description)
                </td>
                <td>
                    <input class="form-control" type="text" name="quantity" id="quantity-@item.Id" />
                    <input type="hidden" value="@item.Id" name="id" id="id">
                    <input type="hidden" value="@item.Medicament.Description" name="description" id="description-@item.Id">
                    <input type="hidden" value="@item.Total" name="total" id="total-@item.Id">
                    <input type="hidden" value="@item.Expiration" name="expiration" id="expiration-@item.Id">
                    <input type="submit" value="Agregar a lista" class="btn btn-default" onclick="addToList(@item.Id)" autocomplete="off" />
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="lista"></div>
<div id="debug"></div>

<script src="~/js/MedsOut.js"></script> 