@model IEnumerable<system_core_with_authentication.Models.Stock>
@{
    ViewData["Title"] = "Salida de Medicamento";
    ViewBag.Menu = "Medicaments";
}

<div class="row">
    <div class="col-lg-12 small">
        <div class="card card-table">
            <div class="container">

                <form asp-controller="MedicamentOut" asp-action="Index" method="get">
                    <p>
                        <h4> Medicamento:</h4> <input style="width:1050px;" class="form-control" type="text" name="SearchString">
                        <input type="submit" value="Filtrar" class="btn btn-default" />
                    </p>
                </form>

                <table class="table" style="width:1050px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                Caducidad
                            </th>
                            <th>
                                Medicamento
                            </th>
                            <th>
                                Salida
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Expiration)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Medicament.Description)
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="quantity" id="quantity-@item.Id" />
                                    <input type="hidden" value="@item.Id" name="id" id="id">
                                    <input type="hidden" value="@item.Medicament.Description" name="description" id="description-@item.Id">
                                    <input type="hidden" value="@item.Total" name="total" id="total-@item.Id">
                                    <input type="hidden" value="@item.Expiration" name="expiration" id="expiration-@item.Id">
                                    <input type="submit" value="Agregar a lista" class="btn btn-default" onclick="addToList(@item.Id)" autocomplete="off" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 small">
        <div class="card card-table">
            <div class="container">
                <div id="lista"></div>
                </div>
            </div>
        </div>
    </div>
                <div id="debug"></div>

                <script src="~/js/MedsOut.js"></script>
