@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

@** TODO: Define logic in LoginPartial**@
@await Html.PartialAsync("_LoginPartial")

@{
    // Display most requested Item
    if ((User.Identity.IsAuthenticated) && (User.IsInRole("Admin")))
    {
        Html.RenderPartial("MostRequestedItem");
    }
    else
    {

    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - system_core_with_authentication</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/ionicons-min/css/ionicons.min.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/ionicons-min/css/ionicons.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="app app-default">

        <!-- Side bar menu -->
        @await Html.PartialAsync("_SideBar")

        <script type="text/ng-template" id="sidebar-dropdown.tpl.html">
            <div class="dropdown-background">
                <div class="bg"></div>
            </div>
            <div class="dropdown-container">
                {{list}}
            </div>
        </script>
        
        <!-- App Body -->
        <div class="app-container">
            <!-- Top navbar menu -->
            @await Html.PartialAsync("_NavBar")

            <!-- Floating Button -->
            <div class="btn-floating" id="help-actions">
                <div class="btn-bg"></div>
                <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
                    <i class="icon fa fa-plus"></i>
                    <span class="help-text">Shortcut</span>
                </button>
                <div class="toggle-content">
                    <ul class="actions">
                        <li><a href="#">Website</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Issues</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>

            <!-- App Content -->
            @RenderBody()
                @*<div class="row">
                    <div class="col-xs-12">
                        <div class="card card-banner no-br">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">Top Sale Today</div>
                                </div>
                                <ul class="card-action">
                                    <li>
                                        <a href="/">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="app-footer">
            <hr />
            <footer style="text-align:right; padding-right:20px;">
                <p>&copy; 2017 - TyG Medical</p>
            </footer>
        </div>
    </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script type="text/javascript" src="~/js/vendor.js"></script>
            <script type="text/javascript" src="~/js/app.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script type="text/javascript" src="~/js/vendor.js"></script>
            <script type="text/javascript" src="~/js/app.js"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
