@inject SignInManager<ApplicationUser> SignInManager

@{ 
    // This switch is to set the active class in the sidebar menu
    switch ((string)ViewBag.Menu)
    {
        case "Dashboard":
            ViewBag.DashboardActive = "active";
            break;
        case "About":
            ViewBag.AboutActive = "active";
            break;
        case "Requests":
            ViewBag.RequestsActive = "active";
            break;
        case "Medicaments":
            ViewBag.MedicamentsActive = "active";
            break;
        case "User":
            ViewBag.UsersActive = "active";
            break;
        case "Stocks":
            ViewBag.StocksActive = "active";
            break;
    }
}

<aside class="app-sidebar" id="sidebar">
    <div class="sidebar-header">
        <a class="sidebar-brand" href="#"><span class="highlight">TyG Medical</span></a>
        <button type="button" class="sidebar-toggle">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="sidebar-menu">
        <ul class="sidebar-nav">
            <li class="@ViewBag.DashboardActive">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="icon">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                    </div>
                    <div class="title">Dashboard</div>
                </a>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
            <li class="dropdown @ViewBag.RequestsActive">
                <a asp-area="" asp-controller="Requests" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="icon">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                    <div class="title">Requests</div>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        @* Use this li class if a section is needed *@
                        @*<li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Admin</li>*@
                        <li><a asp-controller="Requests" asp-action="ShowAllRequests">Mostrar todos</a></li>
                        <li><a asp-controller="Requests" asp-action="Index"> Crear nueva solicitud</a></li>
                    </ul>
                </div>
            </li>
            }

            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Supervisor")))
            {
            <li class="dropdown @ViewBag.MedicamentsActive">
                <a asp-area="" asp-controller="Medicaments" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="icon">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                    </div>
                    <div class="title">Medicaments</div>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        @* Use this li class if a section is needed *@
                        @*<li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Admin</li>*@
                        <li><a asp-controller="Medicaments" asp-action="Index">Mostrar todos</a></li>
                        <li><a asp-controller= "Medicaments" asp-action= "Create" > Crear nuevo</a></li>
                        <li><a asp-controller="MedicamentOut" asp-action="Index"> Salida de Medicamentos</a></li>
                    </ul>
                </div>
            </li>
             }
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Supervisor")))
            {
            <li class="dropdown @ViewBag.StocksActive">
                <a asp-area="" asp-controller="Stocks" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="icon">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                    </div>
                    <div class="title">Stocks</div>
                </a>
                <div class="dropdown-menu">
                    <ul>
                        @* Use this li class if a section is needed *@
                        @*<li class="section"><i class="fa fa-file-o" aria-hidden="true"></i> Admin</li>*@
                        <li><a asp-controller="Stocks" asp-action="Index">Mostrar todos</a></li>
                        <li><a asp-controller="Stocks" asp-action="Create">Crear nuevos</a></li>
                    </ul>
                </div>
            </li>
            }
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li class="@ViewBag.UsersActive">
                    <a asp-area="" asp-controller="Users" asp-action="Index">
                        <div class="icon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="title">Users</div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="sidebar-footer">
        <ul class="menu">
            <li>
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </a>
            </li>
            <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
        </ul>
    </div>
</aside>